<div class="flex flex-wrap justify-center gap-4 text-center">
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B] p-2.5 rounded-[15px] xl:w-34">
    <app-doughnut [percentage]="floorValue(300, 302)" />
    <span class="mt-4">
      <b>300</b>/<small>302</small>
    </span>
    <span class="text-[#706D7E]">
      Active Trips
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B] p-2.5 rounded-[15px] xl:w-34">
    <app-doughnut [percentage]="floorValue(375, 500)" />
    <span class="mt-4">
      <b>375</b>/<small>500</small>
    </span>
    <span class="text-[#706D7E]">
      Active Vehicles
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B] p-2.5 rounded-[15px] xl:w-34">
    <app-doughnut [percentage]="floorValue(16, 20)" />
    <span class="font-bold mt-4">
      16/20
    </span>
    <span class="text-[#706D7E]">
      Under Maintenance
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B99] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      2
    </span>
    <span class="text-[#706D7E]">
      In-Active Trips
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B99] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      100
    </span>
    <span class="text-[#706D7E]">
      Stopped Vehicles
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B99] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      4
    </span>
    <span class="text-[#706D7E]">
      Queue Maintenance
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B59] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      7
    </span>
    <span class="text-[#706D7E]">
      Total Departments
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B59] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      60
    </span>
    <span class="text-[#706D7E]">
      Total Fleets
    </span>
  </div>
  <div
    class="flex flex-col flex-main-item gap-[5px] justify-center items-center bg-[#1F1D2B59] p-2.5 rounded-[15px] xl:w-34">
    <span class="font-bold">
      300
    </span>
    <span class="text-[#706D7E]">
      Total Drivers
    </span>
  </div>
  <div
    class="flex flex-col flex-last-2 gap-[5px] justify-center items-center bg-[#1F1D2B26] p-2.5 rounded-[15px] xl:w-34 xl:hidden">
    <span class="font-bold">
      43,303 km
    </span>
    <span class="text-[#706D7E]">
      Total Distance Driven
    </span>
  </div>
  <div
    class="flex flex-col flex-last-2 gap-[5px] justify-center items-center bg-[#1F1D2B26] p-2.5 rounded-[15px] xl:w-34 xl:hidden">
    <span class="font-bold">
      291 hr : 23 min
    </span>
    <span class="text-[#706D7E]">
      Total Hours Driven
    </span>
  </div>
</div>